/build*
*~
.cproject
.project
*.DS_Store
/nbproject/private/
/contrib/ahmed/
/contrib/armadillo*
/contrib/dune/
/contrib/boost/
/contrib/files/
/contrib/tbb/
/contrib/trilinos/
/contrib/swig/
/contrib/dune-common/dune/common/.deps/
/contrib/dune-common/lib/.deps/
/contrib/dune-common/dune/common/test/.deps/
/contrib/dune-common/dune/common/parallel/test/.deps/
/contrib/dune-common/dune/common/.libs/
/contrib/dune-common/lib/.libs/
/doc/build*
*.pyc
options.cfg
CMakeLists.txt.user
scratch
test_blas/build
test_lapack/build
*.generated
.options.cfg
