/build*
*~
.cproject
.project
*.DS_Store
/nbproject/private/
/doc/build*
*.pyc
options.cfg
CMakeLists.txt.user
scratch
test_blas/build
test_lapack/build
*.generated
.options.cfg
installer/files
bempp_setup.err
.*.swpbempp-egg.info/bempp-egg.info/
.*.sw[p, o]
bempp.egg-info/
pkg_install/
py-*/
pytest*/
/.idea*
.cache
*.old
.directory
