/build*
*~
.cproject
.project
*.DS_Store
/nbproject/private/
/contrib/dune/
/contrib/boost/
/contrib/files/
/contrib/trilinos/
/contrib/dune-common/dune/common/.deps/
/contrib/dune-common/lib/.deps/
/contrib/dune-common/dune/common/test/.deps/
/contrib/dune-common/dune/common/parallel/test/.deps/
/contrib/dune-common/dune/common/.libs/
/contrib/dune-common/lib/.libs/
/doc/build*
*.pyc
options.cfg
