# Example CMakeLists.txt file that can be used to compile
# programs using the BEM++ library.

cmake_minimum_required(VERSION 2.8)

# Set this variable to the "prefix" directory specified during installation of BEM++
set(BEMPP_PREFIX "" CACHE PATH "Installation directory of BEM++ and its dependencies")

include_directories(${BEMPP_PREFIX}/bempp/include)
include_directories(${BEMPP_PREFIX}/bempp/include/bempp)

find_library(BEMPP_LIBRARY bempp PATHS ${BEMPP_PREFIX}/bempp/lib)
find_library(TEUCHOS_LIBRARY teuchos PATHS ${BEMPP_PREFIX}/bempp/lib)

# Adapt file names to your requirements.
add_executable(my_program my_program.cpp)
target_link_libraries(my_program ${BEMPP_LIBRARY} ${TEUCHOS_LIBRARY})
